fastapi
uvicorn
sqlalchemy==2.0.51
alembic>=1.13.0
psycopg2-binary
asyncpg
greenlet
pydantic
pydantic-settings
python-dotenv
vnstock
pandas
feedparser
beautifulsoup4
aiohttp
apscheduler
markdown
aioboto3
boto3
eval_type_backport
fpdf2
requests
redis
